extends ../components/base/layout

block variables
  - const title = "UI-kit"

block main
  header.header-ui
    .container.header-ui__container
      a.components-backwards(href="sitemap.html")
        span &larr;
        span вернуться на разводящую
      nav.header-ui__nav
        ul.header-ui__inner-list
          li.header-ui__inner-item
            span.header-ui__inner-span Element
          li.header-ui__inner-item
            span.header-ui__inner-span Default
          li.header-ui__inner-item
            span.header-ui__inner-span Hover
          li.header-ui__inner-item
            span.header-ui__inner-span Focus

  main
    section.ui-kit 
      .container.ui-kit__container
        h1 UI-kit
        .ui-kit__wrapper 
          +link-row()
          +btn-row()
          +socials-row()
          +card-row-type-01()
          +card-row-type-02()
          +card-row-type-03()
          


  script
    include ../../js/inline/ui-kit.js


block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="success")
    +modal-success()
