.btn {
  width: auto;
  max-width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: $color-jade;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  transition: color $trans-default, opacity $trans-default, background-color $trans-default, transform $trans-default, box-shadow $trans-default, border $trans-default;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: $color-default-white;
  transform: translateY(0);
  &:active {
    transform: translateY(2px);
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  svg {
    transition: color $tf-default;
  }
  &--fill {
    background-color: $color-jade;
  }
  &--stroke {
    background-color: $color-default-white;
    color: $color-jade;
    border: 2px solid $color-jade;
    padding: 8px 38px 9px;
  }
  &--nav {
    max-width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 6px rgba($color-default-black, 0.16);
    padding: 8px;
    background-color: $color-default-white;
    svg {
      color: $color-default-black;
      transition: all $trans-default;
    }
  }
  &--reset {
    color: $color-default-black;
    background-color: $color-transparent;
    outline: none;
  }
  @media (hover: hover), screen and (min-width: 0\0) {
    &--fill {
      &:hover {
        box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.25);
      }
      @include focus ($custom_default: false);
    }
    &--stroke {
      &:hover {
        color: $color-default-white;
        background-color: $color-jade;
      }
      @include focus ($custom_default: false);
    }
    &--nav {
      &:hover {
        color: $color-default-white;
        background-color: $color-jade;
        svg {
          color: $color-default-white;
        }
      }
      @include focus ($custom_default: false);
    }
  }
}
