.dropdown-menu {
	&__btn {
		display: flex;
		flex-shrink: 0;
		width: auto;
		padding: 5px;
		margin: -5px;
		border-radius: 5px;
		@include vp-1023 {
			display: none;
		}
		&-stripes {
			width: 25px;
			height: 17px;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			margin: 0 20px 0 0;
		}
		&-stripe {
			display: block;
			flex-shrink: 0;
			width: 25px;
			height: 3px;
			background-color: $color-ocean-green;
			pointer-events: none;
			transform: scale(1);
			transform-origin: left;
			&--middle {
				transform-origin: center;
			}
		}
		&-text {
			flex-shrink: 0;
			color: $color-default-black;
			font-size: 1.125rem;
			line-height: 1.22rem;
			font-weight: 400;
		}
	}
}
