.link {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	padding: 5px;
	margin: -5px;
	color: $color-default-black;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
	transition: color $trans-default;
	border-radius: 5px;
	@media (hover: hover), screen and (min-width: 0\0) {
		&:hover {
			color: $color-jade;
		}
		@include focus($custom_default: false) {
			color: $color-jade;
			@include custom_outline;
		}
	}

	&--color {
		color: $color-jade;
		font-weight: 700;
		@media (hover: hover), screen and (min-width: 0\0) {
			&:hover {
				text-decoration: underline;
			}
			@include focus($custom_default: true);
		}
	}
	&--bolder {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: $color-dim-gray;
		&::after {
			content: "";
			width: calc(100% - 2 * 5px);
			height: 3px;
			background-color: $color-jade;
			position: absolute;
			left: 5px;
			right: 5px;
			bottom: 3px;
			transform: scale(0);
			transform-origin: center;
			transition: transform $trans-default;
		}
		@media (hover: hover), screen and (min-width: 0\0) {
			@include focus($custom_default: false) {
				outline: none;
				&::after {
					transform: scale(1);
				}
			}
		}
	}
}
