.about {
}
.company__title {
}
.about__picture {
  margin-bottom: 30px;
}
.about__paragraph {
}
.about__section {
  margin-bottom: 30px;
}
.about__section-title {
  margin: 0 0 20px 0;
}
.about__list {
  @include reset-list;
  margin: 0 0 15px 0;
}
.about__list-item {
  position: relative;
  padding: 0 0 0 20px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $color-main;
  }
}
.link {
}
.link--colored {
}