.company-workers {
  padding-bottom: 40px;
}
.company-workers__paragraph {
}
.company-workers__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 40px;

  @include viewport--1023 {
    grid-template-columns: auto;
  }
}
.company-workers__card {
  padding: 30px;
  border: 2px solid $color-whisper;
  border-radius: 5px;
  text-align: center;
}
.company-workers__card-photo {
  margin: 0 auto;
}
.company-workers__card-name {
  font-weight: bold;
  margin: 20px 0 10px 0;
}
.company-workers__card-description {
  margin: 0 0 25px 0;
}
.company-workers__card-email {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

  &::before {
    content: '';
    background-image: url("../img/svg/email.svg");
    margin-right: 10px;
    width: 20px;
    height: 13px;
    display: block;
  }
}
.company-workers__card-telephone {
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    background-image: url("../img/svg/telephone.svg");
    margin-right: 10px;
    width: 20px;
    height: 20px;
    display: block;
  }
}