.company-licenses__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include adaptiveDesktopToMobile('column-gap', 30, 15);
  row-gap: 40px;
  max-width: 570px;

  @include viewport--1023 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.company-licenses__card.card {
  width: auto;

  .card__title {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.21;
  }
}