.company-partners {
  padding-bottom: 40px;
}
.company-partners__paragraph {
}
.company-partners__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 40px;

  @include viewport--1023 {
    grid-template-columns: auto;
  }
}
.company-partners__card {
  padding: 30px;
  border: 2px solid $color-whisper;
  border-radius: 5px;
}
.company-partners__card-logo {
}
.company-partners__card-description {
}
.company-partners__card-email {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &::before {
    content: '';
    background-image: url("../img/svg/email.svg");
    margin-right: 10px;
    width: 20px;
    height: 13px;
    display: block;
  }
}
.company-partners__card-telephone {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    background-image: url("../img/svg/telephone.svg");
    margin-right: 10px;
    width: 20px;
    height: 20px;
    display: block;
  }
}