.contacts {
  padding-bottom: 80px;
}
.contacts__map {
  
  iframe {
    max-width: 100%;
    min-width: 100%;
    @include adaptiveDesktopToMobile('height', 400, 550);
  }
}
.contacts__text {
  margin-top: 50px;
  @include adaptiveDesktopToMobile('padding-left', 70, 0);
  @include adaptiveDesktopToMobile('padding-right', 70, 0);
}
.contacts__title {
}
.contacts__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  gap: 20px;

  @include viewport--1023 {
    grid-template-columns: auto;
  }
}
.contacts__item {
  display: grid;
  grid-template-columns: 30px auto;
  gap: 15px;
}
.contacts__item-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts__item-logo {
  
}
.contacts__item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacts__item-value {
  font-weight: 600;
}
.contacts__item-text-more {
}
.contacts__feedback {
  grid-column: span 2;
}