.courses-category {
}
.courses-category__list {
  @include reset-list;
}
.courses-category__item {
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.courses-category__card {
  display: grid;
  grid-template-columns: 1fr 2fr;

  &:hover {
    .courses-category__card-title {
      color: $color-main;
    }
  }

  @include viewport--1023 {
    grid-template-columns: auto;
  }
}
.courses-category__card-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.courses-category__card-text {
  padding: 20px;
  @include adaptiveDesktopToMobile('padding-right', 30, 20);
  @include adaptiveDesktopToMobile('padding-left', 30, 20);
}
.courses-category__card-title {
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 15px 0;
  transition: color $default-transition-settings;
}
.courses-category__card-description {
}
.courses-category__card-btn {
  pointer-events: none;
}