.courses-main {
}
.courses-main__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  @include viewport--1023 {
    grid-template-columns: auto;
  }
}
.courses-main__item {
  border: 2px solid #EEEEEE;
  border-radius: 5px;
}
.courses-main__card {
  &:hover {
    .courses-main__card-title {
      color: $color-main;
    }
  }
}
.courses-main__card-pic {
  width: 100%;
}
.courses-main__card-text {
  padding: 20px 30px;
  @include adaptiveDesktopToMobile('padding-right', 30, 20);
  @include adaptiveDesktopToMobile('padding-left', 30, 20);
}
.courses-main__card-title {
  font-weight: bold;
  font-size: 16px;
  transition: color $default-transition-settings;
  margin: 0 0 15px 0;
}
.courses-main__card-description {
  margin: 0;
}