.inner-page-wrapper {
  @include adaptiveDesktopToMobile('margin-top', 40, 30);
  display: grid;
  grid-template-columns: 300px auto;
  @include adaptiveDesktopToMobile('gap', 100, 60);

  @include viewport--767 {
    grid-template-columns: auto;
  }
}

.innner-page-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.21;
  margin: 0 0 30px 0;
}