.socials {
	display: flex;
	flex-wrap: wrap;
	max-width: 220px;
	column-gap: 30px;
	row-gap: 30px;
	&__icon {
		color: $color-night-rider;
		transition: color $trans-default;
		pointer-events: none;
	}
	&__link {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 30px;
		border-radius: 10px;
		padding: 0;
		transition: background-color $trans-default;
		@media (hover: hover), screen and (min-width: 0\0) {
			&:hover {
				.socials {
					&__icon {
						&--fb {
							color: $color-mariner;
						}
						&--tg {
							color: $color-pacific-blue;
						}
						&--tweet {
							color: $color-malibu;
						}
						&--viber {
							color: $color-vivid-violet;
						}
						&--vk {
							color: $color-san-marino;
						}
						&--whatsapp {
							color: $color-fruit-salad;
						}
						&--yt {
							color: $color-cinnabar;
						}
					}
				}
			}
			@include focus ($custom_default: false) {
				@include custom_outline;
				.socials {
					&__icon {
						&--fb {
							color: $color-mariner;
						}
						&--tg {
							color: $color-pacific-blue;
						}
						&--tweet {
							color: $color-malibu;
						}
						&--viber {
							color: $color-vivid-violet;
						}
						&--vk {
							color: $color-san-marino;
						}
						&--whatsapp {
							color: $color-fruit-salad;
						}
						&--yt {
							color: $color-cinnabar;
						}
					}
				}
			}
		}
		&--insta {
			width: 30px;
			height: 30px;
			flex: 0 0 30px;
			border-radius: 10px;
			padding: 0;
			background-color: $color-night-rider;
			position: relative;
			overflow: hidden;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: $mustard-to-fuchsia;
				opacity: 0;
				transition: opacity $trans-default;
				z-index: -1;
			}
			&:hover {
				background-color: $color-transparent;
				&::before {
					opacity: 1;
				}
			}
			@include focus ($custom_default: false) {
				@include custom_outline;
				background-color: $color-transparent;
				&::before {
					opacity: 1;
				}
			}
		}
	}
}
