mixin link-row()

	.ui-kit__row.link-row
		.ui-kit__col.element
			span.ui-kit__col-span Text link
		.ui-kit__col.state.state--default
			a.link(href="#") Text link
			a.link.link--colored(href="#") Смотреть все проекты
			a.link.link--bolder(href="#") Акции
		.ui-kit__col.state.state--hover
			a.link(href="#") Text link
			a.link.link--colored(href="#") Смотреть все проекты
			a.link.link--bolder(href="#") Акции
		.ui-kit__col.state.state--focus
			a.link.link--bolder(href="#") Акции