mixin socials-row()

	.ui-kit__row.socials-row
		.ui-kit__col.element
			span Social
		.ui-kit__col.state.state--default
			.ui-kit__socials.socials
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-fb", 15, 30).ui-kit__socials-icon.ui-kit__socials-icon--fb.socials__icon.socials__icon--fb
				a.ui-kit__socials-link.ui-kit__socials-link--insta.socials__link.socials__link--insta(href="#")
					+icon("icon-insta", 22, 22).ui-kit__socials-icon.ui-kit__socials-icon--insta 
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-tg", 30, 25).ui-kit__socials-icon.ui-kit__socials-icon--tg.socials__icon.socials__icon--tg
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-tweet", 30, 25).ui-kit__socials-icon.ui-kit__socials-icon--tweet.socials__icon.socials__icon--tweet
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-viber", 28, 30).ui-kit__socials-icon.ui-kit__socials-icon--viber.socials__icon.socials__icon--viber
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-vk", 30, 18).ui-kit__socials-icon.ui-kit__socials-icon--vk.socials__icon.socials__icon--vk
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-whatsapp", 30, 30).ui-kit__socials-icon.ui-kit__socials-icon--whatsapp.socials__icon.socials__icon--whatsapp
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-yt", 30, 21).ui-kit__socials-icon.ui-kit__socials-icon--yt.socials__icon.socials__icon--yt
		.ui-kit__col.state.state--hover
			.ui-kit__socials.socials
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-fb", 15, 30).ui-kit__socials-icon.ui-kit__socials-icon--fb.socials__icon.socials__icon--fb
				a.ui-kit__socials-link.ui-kit__socials-link--insta.socials__link.socials__link--insta(href="#")
					+icon("icon-insta", 22, 22).ui-kit__socials-icon.ui-kit__socials-icon--insta
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-tg", 30, 25).ui-kit__socials-icon.ui-kit__socials-icon--tg.socials__icon.socials__icon--tg
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-tweet", 30, 25).ui-kit__socials-icon.ui-kit__socials-icon--tweet.socials__icon.socials__icon--tweet
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-viber", 28, 30).ui-kit__socials-icon.ui-kit__socials-icon--viber.socials__icon.socials__icon--viber
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-vk", 30, 18).ui-kit__socials-icon.ui-kit__socials-icon--vk.socials__icon.socials__icon--vk
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-whatsapp", 30, 30).ui-kit__socials-icon.ui-kit__socials-icon--whatsapp.socials__icon.socials__icon--whatsapp
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-yt", 30, 21).ui-kit__socials-icon.ui-kit__socials-icon--yt.socials__icon.socials__icon--yt
		.ui-kit__col.state.state--focus
			.ui-kit__socials.socials
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-fb", 15, 30).ui-kit__socials-icon.ui-kit__socials-icon--fb.socials__icon.socials__icon--fb
				a.ui-kit__socials-link.ui-kit__socials-link--insta.socials__link.socials__link--insta(href="#")
					+icon("icon-insta", 22, 22).ui-kit__socials-icon.ui-kit__socials-icon--insta
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-tg", 30, 25).ui-kit__socials-icon.ui-kit__socials-icon--tg.socials__icon.socials__icon--tg
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-tweet", 30, 25).ui-kit__socials-icon.ui-kit__socials-icon--tweet.socials__icon.socials__icon--tweet
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-viber", 28, 30).ui-kit__socials-icon.ui-kit__socials-icon--viber.socials__icon.socials__icon--viber
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-vk", 30, 18).ui-kit__socials-icon.ui-kit__socials-icon--vk.socials__icon.socials__icon--vk
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-whatsapp", 30, 30).ui-kit__socials-icon.ui-kit__socials-icon--whatsapp.socials__icon.socials__icon--whatsapp
				a.ui-kit__socials-link.socials__link(href="#")
					+icon("icon-yt", 30, 21).ui-kit__socials-icon.ui-kit__socials-icon--yt.socials__icon.socials__icon--yt
