mixin img-swiper-lazy(path, image, format, width, height, altText)
  img.swiper-lazy(data-src="img/" + path + "/" + image + "." + format, data-srcset= "img/" + path + "/" + image + "@2x." + format + " 2x", width= width, height= height, alt= altText)
  .swiper-lazy-preloader