//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Ui-kit

include ./ui-kit/link-row
include ./ui-kit/btn-row
include ./ui-kit/socials-row
include ./ui-kit/card-row-type-01
include ./ui-kit/card-row-type-02
include ./ui-kit/card-row-type-03
include ./ui-kit/card-row-type-04
include ./ui-kit/card-row-type-05
include ./ui-kit/card-row-type-06
include ./ui-kit/card-row-type-07
include ./ui-kit/card-row-type-08
include ./ui-kit/form


//- Blocks

include ./blocks/intro
include ./blocks/headers/headers
include ./blocks/headers/header-ver1
include ./blocks/headers/header-ver2

//- UI-Components

include ./ui-components/btn
include ./ui-components/dropdown-menu-btn
include ./ui-components/custom-input
include ./ui-components/custom-select
include ./ui-components/custom-textarea
include ./ui-components/custom-toggle
